## Linear Algebra

In [43]:
using LinearAlgebra

In [44]:
# Creating a 3x3 matrix
A = [1 2 3; 4 5 6; 7 8 9]

3×3 Matrix{Int64}:
 1  2  3
 4  5  6
 7  8  9

In [45]:
# Determinant
det_A = det(A)

-9.516197353929915e-16

In [46]:
# Inverse (Note: A is singular, so using a different matrix)
B = [2 1 1; 1 2 1; 1 1 2]
inv_B = inv(B)

3×3 Matrix{Float64}:
  0.75  -0.25  -0.25
 -0.25   0.75  -0.25
 -0.25  -0.25   0.75

In [47]:
# Eigenvalues and eigenvectors
eig_B = eigen(B)

Eigen{Float64, Float64, Matrix{Float64}, Vector{Float64}}
values:
3-element Vector{Float64}:
 0.9999999999999998
 1.0
 3.999999999999999
vectors:
3×3 Matrix{Float64}:
 -0.408248   0.707107  -0.57735
 -0.408248  -0.707107  -0.57735
  0.816497   0.0       -0.57735

In [48]:
# Solve Ax = b where A is 3x3 matrix and b is a vector
b = [1, 2, 3]
x = A \ b

3-element Vector{Float64}:
 -0.23333333333333334
  0.46666666666666673
  0.09999999999999994

#### Solving a system of equations

In [49]:
# Define matrix A and vector b
A = [2 1 -1; -3 -1 2; -2 1 2]
b = [8, -11, -3]

3-element Vector{Int64}:
   8
 -11
  -3

In [50]:
# Solve for x using the backslash operator
x = A \ b

3-element Vector{Float64}:
  2.0000000000000004
  2.9999999999999996
 -0.9999999999999991

In [51]:
# Display the solution
println("The solution is: ", x)

The solution is: [2.0000000000000004, 2.9999999999999996, -0.9999999999999991]

##### More advanced problem

In [52]:
# Define matrix A and vector b
A = [1 2 -1 1; 2 -1 3 -2; -3 4 2 1; 1 -3 2 -4]
b = [1, 5, 7, -2]

# Solve for x using the backslash operator
x = A \ b

# Compute the rank of A
rank_A = rank(A)

# Compute the null space of A
null_space_A = nullspace(A)

# Compute the condition number of A
cond_A = cond(A)

# Display results
println("Solution x: ", x)
println("Rank of A: ", rank_A)
println("Null space of A: ", null_space_A)
println("Condition number of A: ", cond_A)

Solution x: [0.6235294117647063, 0.7176470588235293, 2.3529411764705888, 1.294117647058824]
Rank of A: 4
Null space of A: Matrix{Float64}(undef, 4, 0)
Condition number of A: 7.4635161399954475

## DataFrames

In [53]:
using Pkg
Pkg.add("DataFrames")
using DataFrames

   Resolving package versions...
  No Changes to `~/MolSSI_workshop/Project.toml`
  No Changes to `~/MolSSI_workshop/Manifest.toml`

In [54]:
# Create a DataFrame
df = DataFrame(Name=["John", "Jane", "Jim"], Age=[28, 34, 45], Salary=[50000, 62000, 72000])

3×3 DataFrame
 Row │ Name    Age    Salary
     │ String  Int64  Int64
─────┼───────────────────────
   1 │ John       28   50000
   2 │ Jane       34   62000
   3 │ Jim        45   72000

In [55]:
# View the DataFrame
println(df)

3×3 DataFrame
 Row │ Name    Age    Salary
     │ String  Int64  Int64
─────┼───────────────────────
   1 │ John       28   50000
   2 │ Jane       34   62000
   3 │ Jim        45   72000

In [56]:
# Add a new column
df.Status = ["Single", "Married", "Single"]

3-element Vector{String}:
 "Single"
 "Married"
 "Single"

In [57]:
# Filter rows where Age > 30
filtered_df = filter(row -> row.Age > 30, df)

2×4 DataFrame
 Row │ Name    Age    Salary  Status
     │ String  Int64  Int64   String
─────┼────────────────────────────────
   1 │ Jane       34   62000  Married
   2 │ Jim        45   72000  Single

In [58]:
# Summary statistics
describe(df)

4×7 DataFrame
 Row │ variable  mean     min      median   max     nmissing  eltype
     │ Symbol    Union…   Any      Union…   Any     Int64     DataType
─────┼─────────────────────────────────────────────────────────────────
   1 │ Name               Jane              John           0  String
   2 │ Age       35.6667  28       34.0     45             0  Int64
   3 │ Salary    61333.3  50000    62000.0  72000          0  Int64
   4 │ Status             Married           Single         0  String

In [59]:
# Group by Status and calculate average Salary
grouped = groupby(df, :Status)
agg_df = combine(grouped, :Salary => mean => :AvgSalary)

2×2 DataFrame
 Row │ Status   AvgSalary
     │ String   Float64
─────┼────────────────────
   1 │ Single     61000.0
   2 │ Married    62000.0

## Distributions

In [60]:
Pkg.add("Distributions")
using Distributions

   Resolving package versions...
  No Changes to `~/MolSSI_workshop/Project.toml`
  No Changes to `~/MolSSI_workshop/Manifest.toml`

In [61]:
# Normal distribution with mean 0 and standard deviation 1
normal_dist = Normal(0, 1)

Normal{Float64}(μ=0.0, σ=1.0)

In [62]:
# Generate 5 random samples
samples = rand(normal_dist, 5)

5-element Vector{Float64}:
 -1.0462799493948278
 -1.348220729870889
 -0.7205446545056656
 -0.8311737668842218
 -1.0088956691122002

In [63]:
# Probability density at x = 0
pdf_val = pdf(normal_dist, 0)

0.3989422804014327

In [64]:
# Cumulative probability up to x = 1
cdf_val = cdf(normal_dist, 1)

0.841344746068543

In [65]:
# Normal distribution: mean = 5, std = 2
normal_dist = Normal(5, 2)
normal_samples = rand(normal_dist, 1000)

1000-element Vector{Float64}:
 0.9869032504647324
 6.619048358994415
 5.5880226117338285
 3.3065108612616454
 2.6786781836566274
 3.7639600654395204
 2.7662225699852985
 7.3223130809703
 7.156901171859434
 8.952953340824712
 ⋮
 5.52366744963457
 2.9939600959323855
 0.06044137130617866
 7.81925605226035
 5.188349234948819
 6.326507743949226
 6.7888763232363925
 6.622636379751538
 9.02804768153744

In [66]:
# Uniform distribution: from 0 to 10
uniform_dist = Uniform(0, 10)
uniform_samples = rand(uniform_dist, 1000)

1000-element Vector{Float64}:
 3.408655055446456
 9.847220859379696
 4.02588165164414
 0.19074958893138483
 9.7631516978827
 2.288378227445839
 9.836573822263437
 1.0583045847362793
 7.89015996949729
 4.427656288288762
 ⋮
 0.6956740004625028
 8.879466581945435
 3.234747237786798
 2.621653642894409
 7.71261102548787
 4.671590272727805
 0.2068507100490291
 8.688099054659856
 5.368852499675678

In [67]:
# Poisson distribution: lambda = 4
poisson_dist = Poisson(4)
poisson_samples = rand(poisson_dist, 1000)

1000-element Vector{Int64}:
 5
 9
 8
 4
 4
 7
 4
 6
 2
 6
 ⋮
 4
 2
 3
 7
 1
 2
 3
 3
 1

In [ ]:
using Plots

In [68]:
# Plot histograms for comparison
histogram(normal_samples, bins=30, alpha=0.5, label="Normal(5, 2)", xlabel="Value", ylabel="Frequency")
histogram!(uniform_samples, bins=30, alpha=0.5, label="Uniform(0, 10)")
histogram!(poisson_samples, bins=30, alpha=0.5, label="Poisson(4)")

UndefVarError: UndefVarError: `histogram` not defined